<div id="title-container">
  <h2>Blocipedia: Social, Markdown Wikis</h2>
</div>

<div id="sign-up-container">
  <h4>Create and share Markdown Wikis!</h4>
  <p><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %></p>
</div>

<div id="plans-container" class=clearfix>
  <h4 id="plans-info-title">Choose the Plan that is Right for You:</h4>
  <div class="plan-info">
    <h4 class="plan-title">Free Plan</h4>
    <ul>
      <li class="feature">Create as many public wikis as you want!</li>
    </ul>
  </div>
  <div class="plan-info">
    <h4 class="plan-title">Premium Plan</h4>
    <ul>
      <li class="feature">Create private wikis!</li>
    </ul>
  </div>
</div>
